<% if @product.total_on_hand > 0 %>
  <%= form_for :order, :url => populate_orders_path do |f| %>
    <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <% if @product.price_in(current_currency) and !@product.price.nil? %>
        <div data-hook="product_price" >
          <% if @product.master.in_stock? %>
            <div class="add-to-cart">
              <span class="price">
                <%= display_price(@product) %>   
              </span>
              <%= number_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => 'title hide', :min => 1 %>
              <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </div>
          <% end %> 
        </div>
      <% else %>
          <div id="product-price">
            <br>
            <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
          </div>
      <% end %>    
    </div>
  <% end %>
<% end %>
