<% if @product.images.length > 1%>
  <ul class="bxslider">
      <% @product.images.each do |i| %>
        <li class='tmb-all tmb-<%= i.viewable.id %>'>
          <%= image_tag i.attachment.url(:large), :itemprop => "image" %>
        </li>
      <% end %>
  </ul>
<% else %>
  <%= image_tag @product.images.first.attachment.url(:large), :itemprop => "image" %>
<% end %>
