#header{
  width: 100%;
  background: #eee;
  div.text{
    text-align: center;
    padding: 50px 0px;
    h1{
      font-size: 72px;
      letter-spacing: 10px;
      word-spacing: 15px;
      font-style: italic;
      line-height: 72px;
    }
    h2{
      font-size: 32px;
      letter-spacing: 4px;
      word-spacing: 10px;
      font-style: italic;
      line-height: 32px;
    }
  }
}
div.banner{
  margin-top: 15px;
  padding-bottom:100px;
  margin-bottom: 90px;
  text-align: center;
  position: relative;
  .cols{
    width: 15%;
    float: left;
    .centering{
      height:100%;
      display: table;
      width: 100%;
      .content{
        padding: 10px;
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
  .cols.left{
    text-align: right;
    height: 100%;
    position: absolute;
  }
  .cols.right{
    text-align: left;
    height: 100%;
    position: absolute;
    right: 0px;
  }
  .cols.center{
    margin-left: 15%;
    width: 70%;
    img{
      width: 100%;
    }
  }
  a{
    font-size: 24px;
    color: grey;
  }
}