
.container:before {
  content: none;

}
.container:after {
  content: none;

}
.container {
  display: block;
  height: 100%;
}


.container li{
    float: left;
    list-style: none;
    position: relative;
    margin-bottom: 40px;
}
.container ul{
}
.paginate-wrap{
      position: relative;
      float:left; 
      left:50%;
      padding-left: 50%;

    
}
.paginate{
      position:relative;
      float:left;    
      left:-50%;
}

.img-wrap{
  height:auto;
  overflow:hidden;
  position:relative;
  width:auto;
  margin-left:40px;
  margin-right:40px;
}
.img-wrap img{
  width: 220px;
  height: 308px;
}
.img-overlay{
  background-color:#000;
  bottom:0;
  color:#fff;
  opacity:0;
  filter: alpha(opacity = 0);
  position:absolute;

  width:100%;
  height: 100% ;
}
.img-overlay h6{
      color: #FFF;
      font-size: 24px;
      position: inherit;
      width: inherit;
      padding: 20px;
      margin: 0px;
      text-decoration: underline;
      text-align: center;
      font-size: 24px;
      border: none;
      line-height: 1.2;
}
.img-wrap:hover .img-overlay{
  opacity:0.75;
  filter: alpha(opacity = 75);
  transition:opacity 0.25s;
  -moz-transition:opacity 0.25s;
  -webkit-transition:opacity 0.25s;
}
.img-overlay p{
      color: #FFF;
      font-size: 10px;
      position: inherit;
      width: inherit;
      padding: 5px;
      margin: 0px;
      text-align: center;
      font-size: 24px;
      border: none;
      line-height: 1.2;
}
ul#products{
  margin: 30px 0px;
  li{
    width: 33.33%;
    float: left;
    list-style: none;
    position: relative;
    margin-bottom: 40px;

    div.wrapper{
      position: relative;
      width: 80%;
      margin: auto;
    }
    div.wrapper.left{
      margin-left: 0px;
    }
    div.wrapper.right{
      margin-right: 0px; 
    }
    div.product-info{
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      color: #fff;
      opacity: 0.0;

      div.background{
        background: black;
        opacity: 0.8;
        position: relative;
        width: 100%;
        height: 100%;
      }

      div.text{
        position: relative;
        width: 100%;
        height: 100%;
        top: -100%;

        p.info{
          padding: 20px;
          margin: 0px;
          text-decoration: underline;
          color: red;
          font-size: 24px;
          border: none;
          line-height: 1.2;
          height: auto;
          position: inherit;
        }

        .price.selling{
          padding: 0px;
          color: red;
          position: inherit;
        }

      }
    }

    div.product-info:hover {
      transition: opacity .40s ease-in-out;
      -moz-transition: opacity .40s ease-in-out;
      -webkit-transition: opacity .40s ease-in-out;
      opacity: 1;
    }

    div.product-image{
      padding: 20px 30px;
      border: none;
      img{
        width: 100%;
      }
    }

  }
}
