#product-show{
  margin: 30px 0px;
  #main-image{
    border: 0px;
    img{
    width: 100%;
    }
  }
  h1.product-title{
    border: none;
  }

  div#product-description{
    span.price{
      font-size: 16px;
      line-height: 32px;
      color: black;
      font-weight: 100;
      float: left;
    }
    button.large.primary{
      float: right;
      background: black;
      border: none;
    }
  }
 
}

#product-thumbnails{
  li{
    margin: 0px;
    width: 24.4%;
    padding: 0px;
    border: none;
    img{
      width: 100%;
    }
  }
}