<div class="container banner">

  <div class="cols left">
    <div class="centering">
      <div class="content">
        <%= link_to "https://www.facebook.com/pages/Splinter-Group-International/527691547242539?fref=t" do %>
          <i class="fa fa-facebook-square fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cols center">
    <%= image_tag("store/header.png")%>
  </div>

  <div class="cols right">
    <div class="centering">
      <div class="content">
        <%= mail_to "denobalk@gmail.com", "contact" %>
      </div>
    </div>
  </div>

</div>