<header id="header" class="row" data-hook>
  <figure id="logo" class="columns seven" data-hook> <span style="float:left;"><%= logo %> </span><h1><br>Books by Dennis Balk</h1>	</figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>