<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<div>
  
<% if products.any? %>
  <ul>
      <% products.each do |product| %>

       
          <li data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">   
              <div class='img-wrap'>  
                    <%= link_to small_image(product, :itemprop => "image").gsub("/small/","/original/").html_safe, product, :itemprop => 'url' %>
                    <div class="img-overlay">
                       <%= link_to product do %>
                          <h6>
                              <%= content_tag(:p, truncate(product.name, :length => 50), :class => 'info', :itemprop => "name", :title => product.name) %>
                          </h6>
                          <p>
                              <%= display_price(product) if product.price.to_f > 0.0 %>
                          </p>
                        <% end %>
                    </div>
              </div>
          </li>
      <% end %>
  </ul>
<% end %>
</div>  
<div class='paginate-wrap'>
  <div class='paginate'>
    <% if paginated_products.respond_to?(:num_pages) %>
      <%= paginate paginated_products %>
    <% end %>
  </div>
</div> 